* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bebas Neue', cursive;
    background-color: black;
}

.header {
    background-color: rgb(131, 131, 131);
    width: 100%;
    height: 70px;
    box-shadow: 0 0 14px white;
}

.title {
    display: block;
    text-align: center;
    color: white;
    font-size: 50px;
    padding: 6px;
    letter-spacing: 1px;
}

.container {
    margin-top: 40px;
}



.container a img {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: 50px 10px 40px 25px;
    border-radius: 3px;
    box-shadow: 0 0 10px white;
}


.container .picture {
    display: flex;
    justify-content: center;
}